<div class="group">
  <div class="group-name">

  </div>
  {{#if date}}<div class="group-date">
    {{date}}
  </div>{{/if}}
  {{#if location}}<div class="group-location">
    {{location}}
  </div>{{/if}}
  <div class="group-bopy">
    {{body}}
  </div>
</div>
